.DS_Store
node_modules
/dist
/data

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
package-lock.json
firebase-debug.log
firestore-debug.log
google-cloud-cli-405.0.0-linux-arm.tar.gz
firebase-export-1666017821652FlKZSm/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
firebase-export-1666017821652FlKZSm/firestore_export/all_namespaces/all_kinds/output-0
firebase-export-1666017821652FlKZSm/firestore_export/firestore_export.overall_export_metadata
firebase-export-1666108136094utPmbd/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
firebase-export-1666108136094utPmbd/firestore_export/all_namespaces/all_kinds/output-0
firebase-export-1666108136094utPmbd/firestore_export/firestore_export.overall_export_metadata
firebase-export-16661591185328jWY0L/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
firebase-export-16661591185328jWY0L/firestore_export/all_namespaces/all_kinds/output-0
firebase-export-16661591185328jWY0L/firestore_export/firestore_export.overall_export_metadata
firebase-export-1666191827914bYJDzc/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
firebase-export-1666191827914bYJDzc/firestore_export/all_namespaces/all_kinds/output-0
firebase-export-1666191827914bYJDzc/firestore_export/firestore_export.overall_export_metadata
firebase-export-1666531653026d5gKJT/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
firebase-export-1666531653026d5gKJT/firestore_export/all_namespaces/all_kinds/output-0
firebase-export-1666531653026d5gKJT/firestore_export/firestore_export.overall_export_metadata
firebase-export-1666700303148zNnLiW/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
firebase-export-1666700303148zNnLiW/firestore_export/all_namespaces/all_kinds/output-0
firebase-export-1666700303148zNnLiW/firestore_export/firestore_export.overall_export_metadata
firebase-export-1666881222644bNOFto/auth_export/accounts.json
firebase-export-1666881222644bNOFto/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
firebase-export-1666881222644bNOFto/firestore_export/all_namespaces/all_kinds/output-0
firebase-export-1666881222644bNOFto/firestore_export/firestore_export.overall_export_metadata
firebase-export-16670467641869uZXel/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
firebase-export-16670467641869uZXel/firestore_export/all_namespaces/all_kinds/output-0
firebase-export-16670467641869uZXel/firestore_export/firestore_export.overall_export_metadata
firebase-export-1667233097811rxV4Ep/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
firebase-export-1667233097811rxV4Ep/firestore_export/all_namespaces/all_kinds/output-0
firebase-export-1667233097811rxV4Ep/firestore_export/firestore_export.overall_export_metadata
firebase-export-1667286416668ak5CE1/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
firebase-export-1667286416668ak5CE1/firestore_export/all_namespaces/all_kinds/output-0
firebase-export-1667286416668ak5CE1/firestore_export/firestore_export.overall_export_metadata
